<section class="about" id="about-us">
   <div class="container about-container">
        <div class="about-item">
            <h2 class="about-title">About Us</h2>
            <p class="about-text about-text-first">Welcome to our premium watch collection, where luxury and style meet functionality and precision. Our selection of timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring that you'll always have a reliable and stylish accessory on your wrist.</p>
            <p class="about-text">At our premium watch collection, we believe that a watch is more than just a timekeeping device – it's a statement piece that reflects your personality and style. So why settle for anything less than the best? </p>
           <a href="#catalog"> <button type="button" class="about-btn">View catalog</button></a>
        </div>

        <picture>
            <source class="about-img" srcset="/images/about-mob.webp 1x, /images/about-2x-mob.webp 2x" media="(max-width: 767px)" />
            <source class="about-img" srcset="/images/about-tab.webp 1x, /images/about-2x-tab.webp 2x" media="(max-width: 1279px)" />
            <source class="about-img" srcset="/images/about-desk.webp 1x, /images/about-2x-desk.webp 2x" media="(min-width: 1280px)" />
            
            <img src="/images/about-desk.webp" alt="Screen" width=""  class="about-img">

        </picture>
        
   </div> 
</section>
