<footer class="footer">
  <div class="container-footer">
    <div class="footer-top-content">
      <div class="footer-section">
        <p class="footer-text">watchcharm</p>
        <ul class="social-links">
          <li class="footer-soc">
            <a
              href="https://www.facebook.com/goITclub/  "
              target="_blank"
              class="footer-soc-links"
            >
              <svg class="footer-icon" width="20" height="20">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc">
            <a
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              class="footer-soc-links"
            >
              <svg class="footer-icon" width="20" height="20">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc">
            <a
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              class="footer-soc-links"
            >
              <svg class="footer-icon" width="20" height="20">
                <use href="./images/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-phone">
        <a class="footer-link-phone" href="tel:380684439426"
          >+380 (68) 443-94-26</a
        >
      </div>
    </div>
    <p class="footer-logo">
      Have the time of your life with our watches: where high-class
      craftsmanship meets impeccable design
    </p>
    <div class="footer-info">
      <ul class="list-address">
        <li class="item-address">
          <a href="#home">Home</a>
        </li>
        <li class="item-address">
          <a href="#about-us">About Us</a>
        </li>
        <li class="item-address">
          <a href="#catalog">Catalog</a>
        </li>
        <li class="item-address">
          <a href="#sale">Sale</a>
        </li>
        <li class="item-address">
          <a href="#reviews">Reviews</a>
        </li>
        <li class="item-address">
          <a href="#contact-us">Contact Us</a>
        </li>
      </ul>
      <p class="footer-address">1678 S. Pioneer Road Salt Lake City UT 84104</p>
    </div>
    <div class="footer-bottom">
      <p class="rights">©2023 The Watch Spot. All rights reserved.</p>
      <ul class="privacy-list">
        <li class="privacy-footer">
          <a href="">Terms of Service</a>
        </li>
        <li class="privacy-footer">
          <a href="">Privacy Policy</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
