<section id="home" class="hero">
    <div class="container">
        <div class="hero-top-wrapper">
            <div class="hero-text">
                <h1 class="hero-title">Welcome to our <span class="hero-title-span">collection</span> of premium watches</h1>
                <p class="hero-title-text">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to
                modern ones, we have a watch to suit every taste and occasion.</p>
            </div>
            <div class="hero-people">
                <ul class="hero-list">
                    <li class="hero-item">
                        <picture>
                            <source srcset="/images/hero-people-1-desk.webp 1x, /images/hero-people-1-2x-desk.webp 2x" media="(min-width: 1280px)">
                            <source srcset="/images/people-Victoria_Romashenko-56x56.webp 1x, /images/people-Victoria_Romashenko-56x56-2x.webp 2x" media="(min-width: 768px)">
                            <source srcset="/images/hero-people-1-mob.webp 1x, /images/hero-people-1-2x-mob.webp 2x" media="(max-width: 767px)">
                            <img class="hero-people-img" src="/images/hero-people-1-mob.webp" alt="Blond women">
                        </picture>
                        
                    </li>
                    <li class="hero-item">
                        <picture>
                            <source srcset="/images/hero-people-2-desk.webp 1x, /images/hero-people-2-2x-desk.webp 2x" media="(min-width: 1280px)">
                            <source srcset="/images/people-John_Wax-56x56.webp 1x, /images/people-John_Wax-56x56-2x.webp 2x" media="(min-width: 768px)">
                            <source srcset="/images/hero-people-2-mob.webp 1x, /images/hero-people-2-2x-mob.webp 2x" media="(max-width: 767px)">
                            <img class="hero-people-img" src="/images/hero-people-2-mob.webp" alt="Men with glases">
                        </picture>
                    </li>
                    <li class="hero-item">
                        <picture>
                            <source srcset="/images/hero-people-3-desk.webp 1x, /images/hero-people-3-2x-desk.webp 2x" media="(min-width: 1280px)">
                            <source srcset="/images/people-Anastasia_Trachuk-56x56.webp 1x, /images/people-Anastasia_Trachuk-56x56-2x.webp 2x" media="(min-width: 768px)">
                            <source srcset="/images/hero-people-3-mob.webp 1x, /images/hero-people-3-2x-mob.webp 2x" media="(max-width: 767px)">
                            <img class="hero-people-img" src="/images/hero-people-3-mob.webp" alt="Red-haired woman with glasses">
                        </picture>
                    </li>
                </ul>
                <a class="scroll-link" href="#footer">Scroll down</a>
            </div>
        </div>
        <picture>
            <source srcset="/images/hero-bg-desk.webp 1x, /images/hero-bg-2x-desk.webp 2x" media="(min-width: 1280px)">
            <source srcset="/images/hero-bg-tab.webp 1x, /images/hero-bg-2x-tab.webp 2x" media="(min-width: 768px)">
            <source srcset="/images/hero-bg-mob.webp 1x, /images/hero-bg-2x-mob.webp 2x" media="(max-width: 767px)">
            <img class="hero-img" src="/images/hero-bg-mob.webp" alt="Watch">
        </picture>
    </div>
</section>
