<div class="mobile-menu" data-menu>
  <div class="menu-mobile">
    <button class="mobile-menu-close" type="button" data-menu-close>
      <svg class="close-img" width="24" height="24">
        <use href="../images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="menu-navigations">
      <li class="menu-item">
        <a class="point-nav strip" href="#home">Home</a>
      </li>
      <li class="menu-item">
        <a class="point-nav" href="#about-us">About Us</a>
      </li>
      <li class="menu-item">
        <a class="point-nav" href="#catalog">Catalog</a>
      </li>
      <li class="menu-item"><a class="point-nav" href="#sale">Sale</a></li>
      <li class="menu-item">
        <a class="point-nav" href="#reviews">Reviews</a>
      </li>
      <li class="menu-item">
        <a class="point-nav" href="#contact-us">Contact Us</a>
      </li>
    </ul>
  </div>
  <ul class="social-menu">
    <li class="social-icon mobile-icon">
      <a class="social-icon-link low-icon" href="https://www.facebook.com/goITclub/"><svg class="social-icon-svg-low"
          width="18" height="18">
          <use href="/images/icons.svg#icon-facebook"></use>
        </svg></a>
    </li>
    <li class="social-icon mobile-icon">
      <a class="social-icon-link low-icon" href="https://www.instagram.com/goitclub/"><svg class="social-icon-svg-low"
          width="18" height="18">
          <use href="/images/icons.svg#icon-instagram"></use>
        </svg></a>
    </li>
    <li class="social-icon mobile-icon">
      <a class="social-icon-link low-icon" href="https://www.youtube.com/c/GoIT"><svg class="social-icon-svg-low"
          width="18" height="18">
          <use href="/images/icons.svg#icon-youtube"></use>
        </svg></a>
    </li>
  </ul>
</div>