<section class="sale" id="sale" >
  <div class="sale-section container">
    <h1 class="sale-title">Sale</h1>
    <div class="sale-wrapper">
      <div class="product-images">
        <ul class="product-images-list">
          <li class="product-images-item">
            <picture>
              <source
                srcset="/images/sale-1.webp 1x, /images/sale-1-2x.webp 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /images/sale-1-mob.webp    1x,
                  /images/sale-1-2x-mob.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img src="/images/sale-1-mob.webp" alt="Product View 1" />
            </picture>
          </li>
          <li class="product-images-item">
            <picture>
              <source
                srcset="/images/sale-2.webp 1x, /images/sale-2-2x.webp 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /images/sale-2-mob.webp    1x,
                  /images/sale-2-2x-mob.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img src="/images/sale-2-mob.webp" alt="Product View 2" />
            </picture>
          </li>
          <li class="product-images-item">
            <picture>
              <source
                srcset="/images/sale-3.webp 1x, /images/sale-3-2x.webp 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /images/sale-3-mob.webp    1x,
                  /images/sale-3-2x-mob.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img src="/images/sale-3-mob.webp" alt="Product View 3" />
            </picture>
          </li>
          <li class="product-images-item">
            <picture>
              <source
                srcset="/images/sale-4.webp 1x, /images/sale-4-2x.webp 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /images/sale-4-mob.webp    1x,
                  /images/sale-4-2x-mob.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img src="/images/sale-4-mob.webp" alt="Product View 4" />
            </picture>
          </li>
        </ul>

        <div class="product-main">
          <picture>
            <source
              srcset="/images/sale-5.webp 1x, /images/sale-5-2x.webp 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="/images/sale-5-mob.webp 1x, /images/sale-5-2x-mob.webp 2x"
              media="(max-width: 767px)"
            />
            <img src="/images/sale-5-mob.webp" alt="Main Product" />
          </picture>
        </div>
      </div>

      <div class="product-info">
        <h2 class="product-title">
          MARQ&#xae; Commander (Gen 2) - Carbon Edition
        </h2>
        <p class="product-tag">Product tag: 706587</p>
        <div class="price">
          <span class="current-price">€1500</span>
          <span class="original-price">€3000</span>
        </div>
        <p class="description">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <div class="tags">
          <ul class="tags-list">
            <li class="tag">Fused carbon fiber</li>
            <li class="tag">Grade-5 Titanium</li>
            <li class="tag">Athlete</li>
            <li class="tag">Golfer</li>
            <li class="tag">Commander</li>
            <li class="tag">Adventurer</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
