.about{
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-item{
    padding: 40px 20px;
    border-radius: 30px;
    background-color: #f3f3f3;
    margin-bottom: 20px;
}

.about-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 28px;
}

.about-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}
.about-text-first{
    margin-bottom: 20px;
}
.about-btn{
    display: block;
    border-radius: 16px;
    padding: 15px 37px;
    width: 160px;
    height: 48px;
    text-decoration: none;
    background-color: #3350e9;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #fbfbfb;
    border: 0;
    margin-top: 40px;
}

.about-img {
    width: 100%;
    border-radius: 30px;
}

@media screen and (min-width:768px){
    .about{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    
    .about-item{
        padding: 80px 60px;
        margin-bottom: 40px;
        border-radius: 50px;
    }

    .about-title{
        margin-bottom: 40px;
        font-size: 48px;
    }

    .about-text{
        font-size: 16px;
        line-height: 1.25;
    }

    .about-btn{
        margin-top: 60px;
    }

    .about-img{
        border-radius: 50px;
    }
}

@media screen and (min-width:1280px){
    .about{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .about-item{
        margin-bottom: 0;
        max-width: 580px;
        
    }
    
    .about-container{
        display: flex;
        gap: 40px;
        padding: 0 65px;
    }

    .about-btn{
        margin-top: 40px;
        transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .about-btn:hover,
    .about-btn:focus{
        background-color: #1f3cd4;
    }
}