.catalog {
    padding-top: 30px;
    padding-bottom: 30px;
}

.catalog-title {
    text-align: left;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 24px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.catalog-list-item {
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    max-width: 100%;
    background-color: #f3f3f3;
    padding: 23px 27px;
}

.catalog-list-image {
    padding: 18px 36px 18px 35px;
    margin-bottom: 10px;
}

.catalog-list-text {
    max-width: 279px;
    max-height: 44px;
}

.catalog-item-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.catalog-item-price {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.5);
}

.catalog-btn {
    display: block;
    margin: 40px auto 0;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    color: #fbfbfb;
    background: #3350e9;
    border-radius: 16px;
    min-width: 160px;
    height: 48px;
    padding: 15px 44px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
    .catalog-mobile {
        display: none;
        opacity: 0;
        transform: translateY(-20px);
    }
}

@media screen and (min-width: 768px) {
    .catalog {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .catalog-title {
        font-size: 38px;
        margin-bottom: 40px;
        font-size: 48px;
        line-height: 0.92;
    }

    .catalog-list {
        gap: 32px 16px;
    }

    .catalog-list-item {
        width: calc((100% - 16px) / 2);
        padding: 23px 31px;
    }

    .catalog-list-image {
        padding: 10px 6px;
    }

    .catalog-list-text {
        max-width: 280px;
        max-height: 44px;
    }

    .catalog-item-name {
        font-size: 20px;
        line-height: 1;
    }

    .catalog-btn {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .catalog {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .catalog .container {
        padding: 0 65px;
    }

    .catalog-list {
        gap: 32px 23px;
    }

    .catalog-list-item {
        width: calc((100% - 23px*2) / 3);
    }

    .catalog-list-image {
        padding: 6px 6px 14px;
    }

    .catalog-list-text {
        max-width: 304px;
    }
}