footer {
  background-color: #0c0c0c;
  border-radius: 30px;
  margin-left: 20px;
  margin-right: 20px;  
}

.footer-container {
  min-height: 513px;
}
.container-footer {
  padding: 40px 28px 28px;
  min-width: unset;
  max-width: 335px;
}

.footer-text {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 20px;
}

.footer-soc {
  width: 34px;
  height: 34px;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
}

.footer-soc-links:hover {
  opacity: 1;
}

.footer-icon {
  fill: #fbfbfb;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-links:hover .footer-icon {
  fill: #fbfbfb;
}

.footer-soc-links {
  fill: #fbfbfb;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  opacity: 0.8;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.footer-phone {
  width: 153px;
  height: 44px;
  margin-bottom: 40px;
}

.footer-link-phone {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 14px 19px;
}

.footer-logo {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 279px;
  margin: 0 auto 92px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(251, 251, 251, 0.1);
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.list-address {
  display: flex;
  max-width: 152px;
  flex-wrap: wrap;
  gap: 19px;
}

.item-address {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #fbfbfb;
}

.footer-address {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #fbfbfb;
  max-width: 83px;
}

.rights {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  opacity: 0.9;
  margin-bottom: 8px;
}

.privacy-list {
  display: flex;
  gap: 20px;
}

.privacy-footer {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  opacity: 0.9;
}

.privacy-footer-link {
  position: relative;
}

.privacy-footer-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: rgba(251, 251, 251, 0.5);
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-footer-link:is(:hover, :focus)::after {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    min-height: 472px;
  }
  .container-footer {
    padding: 40px 40px 28px;
    max-width: 728px;
  }
  .footer-top-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 86px;
  }
  .footer-text {
    font-size: 20px;
  }
  .footer-phone {
    width: 172px;
    height: 48px;
  }
  .footer-link-phone {
    font-size: 14px;
    line-height: 1.28;
  }
  .footer-soc {
    width: 36px;
    height: 36px;
  }
  .footer-logo {
    font-size: 28px;
    line-height: 1.14;
    text-align: center;
    max-width: 524px;
    margin: 0 auto 100px;
  }
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .item-address {
    font-size: 14px;
    line-height: 1.28;
  }

  .item-address-link {
    position: relative;
  }

  .item-address-link::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      height: 2px;
      background: #fbfbfb;
      transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

  .item-address-link:is(:hover, :focus)::after {
    width: 100%;
  }

  .footer-address {
    font-size: 14px;
    line-height: 1.28;
    max-width: 162px;
  }
  .list-address {
    display: flex;
    gap: 40px;
    max-width: 624px;
    flex-wrap: wrap;
    gap: 8px 16px;
  }
  .footer-info {
    padding-bottom: 28px;
    margin-bottom: 28px;
  }
  .rights {
    font-size: 14px;
    line-height: 1.28;
  }
  .privacy-footer {
    font-size: 14px;
    line-height: 1.28;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-container {
    min-height: 332px;
  }
  .footer-logo {
    margin: 0 auto 126px;
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .footer-top-content {
    margin-bottom: 0px;
  }
  .footer {
    position: relative;
  }
  .social-links {
    margin-bottom: 142px;
  }
  .container-footer {
    max-width: 1280px;
  }
}
