.page-header {
    border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.headache {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigations,
.social-container {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.page-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    padding: 28px 0;
}

@media (min-width: 768px) {
    .logo {
        padding: 34px 0;
    }
}

@media screen and (min-width: 1280px) {
    .headache {
        padding: 0 65px;
    }

    .logo {
        padding: 32px 0;
        margin-right: 203px;
    }

    .navigations {
        display: flex;
        visibility: visible;
        opacity: 1;
        gap: 40px;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .point {
        font-family: "Gilroy", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        text-align: center;
        color: #0c0c0c;
        position: relative;
        transition: color 0.3s ease, transform 0.3s ease-out;
    }

    .non-strip::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #3350e9;
        transition: width 0.3s ease;
    }

    .non-strip:hover::after,
    .non-strip:focus::after {
        width: 100%;
    }

    .strip::after {
        content: '';
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #3350e9;
        border-radius: 100%;
        left: 15px;
    }

    .strip:hover::after,
    .strip:focus::after {
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #3350e9;
        transition: width 0.3s ease;
    }

    .strip:hover::after,
    .strip:focus::after {
        height: 2px;
        width: 100%;
    }

    .social-container {
        display: flex;
        gap: 10px;
        padding: 25px 0;
        justify-content: center;
        visibility: visible;
        opacity: 1;
    }

    .social-icon {
        border: 1px solid rgba(12, 12, 12, 0.1);
        border-radius: 10px;
        padding: 8px;
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: flex-end;
        position: relative;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
    }

    .social-icon-link {
        opacity: 0.8;
    }

    .social-icon-svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .social-icon:hover .social-icon-svg,
    .social-icon:focus .social-icon-svg {
        fill: #3350e9;
    }
}