.page-header{
    padding: 20px 0px 0px 0px;
        width: 375px;
        height: 74px;
}

.headache{
    display: flex;
        justify-content: space-between;
        align-items: center;
        width: 335px;
            height: 34px;
}
.navigations, .social-container{
    display: none;
    visibility: hidden;
    opacity: 0;
}
.page-nav {
    display: flex;
    align-items: center;
}
.logo{
    font-family: "Gilroy", sans-serif;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: -0.02em;
        color: #0c0c0c;
        width: 90px;
            height: 19px;
}

 @media (min-width: 768px) {
    .page-header{
            width: 768px;
            height: 92px;
            padding: 26px 32px;
    }
    .headache{
        width: 704px;
            height: 40px;
            
    }
 }
 .logo{
    width: 112px;
        height: 24px;
 }
@media screen and (min-width: 1280px){
    .page-header{
            width: 1280px;
            height: 88px;
            padding: 32px 64.5px;
    }
    .headache{
    width: 1151px;
        height: 36px;
        
    }
    .logo{
        margin-right: 203px;
        /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    }
    /* .logo:hover,
    .logo:focus{
        color:#3350e9;
    } */
    .navigations {
     display: flex;
    visibility: visible;
        opacity: 1;
width: 505px;
    height: 28px;
     gap: 40px;
 } 
  .point{
font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #0c0c0c;
        position: relative;
        /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
} 
/* .point:hover, 
.point:focus{
    color:#3350e9;
} */
.strip::after {
    content: '';
display: block;
position: absolute;
    width: 9px;
        height: 8px;
        background-color: #3350e9;
        border-radius: 100%;
        margin-top: 2px;
        left: 15px;
} 
.social-container{
    display: flex;
        gap: 10px;
        width: 128px;
            height: 36px;
        justify-content: center;
        margin-left: 203px;
        visibility: visible;
            opacity: 1;
} 
.social-icon{
    border: 1px solid rgba(12, 12, 12, 0.1);
        border-radius: 10px;
        padding: 8px;
        width: 36px;
        height: 36px;
        background: #FFFFFF;
        display: flex;
        position: relative;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-link{
    width: 20px;
        height: 20px;
        opacity: 0.8;
}
.social-icon-svg{
        position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
}
.social-icon:hover,
.social-icon:focus{
    fill: #3350e9;
}
}