.reviews{
    padding-top: 30px;
    padding-bottom: 30px;
}

.reviews-title {
    text-align: left;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 24px;
}

.reviews-list {
    max-width: 100%;
}

.review-item {
    background-color: #f3f3f3;
    border-radius: 30px;
    padding: 32px 36px;
}

.reviews-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 8px;
    color: #0c0c0c;
}

.reviews-subtext {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(12, 12, 12, 0.4);
}

.review-figcaption{
    text-align: center;
}

.review-img {
    border-radius: 100%;
    background-color: #fbfbfb;
    margin: 0 auto;
    margin-bottom: 24px;
}

.victoria{
    display: none;
}

.anastasia{
    display: none;
}

@media (min-width: 768px) {
    .reviews-list {
        display: flex;
        gap: 20px;
    }

    .review-item {
        max-width: 344px;
    }

    .reviews-title{
        font-size: 48px;
        line-height: 0.92;
        margin-bottom: 40px;
    }

    .reviews-subtitle {
        font-size: 18px;
        line-height: 1.1;
    }
    
    .reviews-subtext {
        font-size: 16px;
        line-height: 1.25;
    }
    
    .victoria {
        display:block;
    }

    .reviews {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (min-width: 1280px) {
.reviews {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .reviews .container {
        padding-left: 65px;
        padding-right: 65px;
    }

    .review-item {
        max-width: 370px;
    }

    .anastasia {
        display: block;
    }
}